<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>修改密码页面</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../static/2view/css/login.css">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="../static/js/login_web.js"></script>
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<div class="changepw-page">
    <form action="" class="register-content" id="register-form" method="post">
        <div class="login-tit">修改密码</div>
        <div class="register-input">
            <h1>用户名</h1>
            <input type="text" name="username" id="username" placeholder="请输入用户名">
        </div>
        <div class="register-input">
            <h1>新密码</h1>
            <input type="password" name="password" id="password" placeholder="请输入新密码">
        </div>
        <div class="register-input">
            <h1>确认新密码</h1>
            <input type="password" name="reassure" id="reassure" placeholder="请重新输入新密码">
        </div>
        <div class="login-btn">
            <button class="button">提交</button>
        </div>
    </form>
</div>


<!-- scripts -->
<script src="../static/2view/js/particles.js"></script>
<script src="../static/2view/js/app.js"></script>
<script>
    function changeImg(){
        let pic = document.getElementById('picture');
        console.log(pic.src)
        if(pic.getAttribute("src",2) =="img/check.png"){
            pic.src ="img/checked.png"
        }else{
            pic.src ="img/check.png"
        }
    }
</script>
</body>
</html>