<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码界面</title>
    <link rel="stylesheet" href="../static/css/login.css" type="text/css">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/login_web.js"></script>
</head>
<body>
<div class= "login">
    <h2 class="title">因您是首次登录，请修改密码</h2>
    <form action="" class="login-content" method="post">
        <h2 class="subtitle">用户名</h2>
        <input type="text" name="username" placehoder='请输入用户名'>
        <h2 class="subtitle">输入新密码</h2>
        <input type="password" name="password" id="login_password" placehoder='请输入新密码'>
        <h2 class="subtitle">请确认新密码密码</h2>
        <input type="password" name="reassure" placehoder='请确认新密码'>
        <br><br>
        <input type="submit" value="确认">
    </form>
</div>
</body>
</html>