<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DbInfo</title>
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../static/js/db_info.js"></script>

</head>
<body>
    <h1>这里展现数据库中部分用户信息内容，需要token授权。</h1>
    <h1>当你看到这段文字的时候，说明您已经获得授权并成功登录</h1>
    <p><input id="btn1" type="button" value="显示信息" function="click" /></p>
    <p id="test"></p>
</body>
</html>